session.lock
banned-ips.json
banned-players.json
usercache.json
ops.json
src/
stats/
advancements/
playerdata/
sessions/
*.sqlite
logs/
whitelist.json
*.csv
*.db
bans.*.log
scoreboard.dat
bStats/
PluginMetrics/